<div>
    <form novalidate #signupForm="ngForm" autocomplete="off">
        <mat-card class="center">
            <mat-card-content class="card-center">
                <h1>SIGN UP</h1>
                <mat-form-field appearance="legacy">
                    <mat-label for="username">Email</mat-label>
                    <input matInput placeholder="" id="username" type="email" name="username"
                        [(ngModel)]="model.Username" #userName="ngModel"
                        [ngClass]="{'is-valid':(userName.touched || userName.dirty) && !userName.valid}" required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
                <div class="invalid-feedback">
                    <span *ngIf="userName.errors?.required"></span>
                </div>
                <mat-form-field appearance="legacy">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="***" id="passWord" type="password" name="password"
                        [(ngModel)]="model.password" #password="ngModel"
                        [ngClass]="{'is-valid':(password.touched || password.dirty) && !password.valid}" required>
                        <mat-icon  style="cursor: pointer;"  class="maticon" id="matIcon2" (click)="togglePassword()">visibility_off</mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
                <br>
                <mat-form-field appearance="legacy">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="***" id="confirmpassWord" type="password" name="confirmpassWord"
                        [(ngModel)]="model.confirmpassword" #confirmpassWord="ngModel"
                        [ngClass]="{'is-valid':(confirmpassWord.touched || confirmpassWord.dirty)}" required>
                        <mat-icon style="cursor: pointer;" class="maticon" id="matIcon"  (click)="toggleConfirmPassword()">visibility_off</mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
                <br>
                <br>
                <button mat-flat-button color="primary" type="submit">Sign In</button>
                <br>
                <br>
            </mat-card-content>
        </mat-card>
    </form>
</div>